/* Los estilos de tu proyecto */
.navbar {
  background-color: white;
  border:none;
}

.comienza-viajar {
  background-image: url("../assets/images/taxi.jpg");
  background-repeat: no-repeat;
  background-size:cover;
  background-position:50% 100%;
  height: 600px;
}

.jumbotron {
  background-color: #f7b617;
  transform: translateY(80%);
  color: white;
  padding-left: 4%;
}

.logo-blanco-small{
  width: 80px;
  height: 20px;
}

.btn {
  border: none;
  margin-top: 20px;
}

h1,h2 {
  line-height: 0.5;
}

h4 {
  padding-top:15px;
  color:white;
}

h5:after,h5:before {
   content: "__________________";
   color:white;
}

.nueva-app {
background-color: #f7b617;
padding-top: 30px;
color:white;
}

.nueva-app .row {
border:1px solid white;
margin: 15px;
padding-top: 50px;
padding-bottom: 40px;
}

.nueva-app h4{
padding-bottom: 10px;
padding-top: 25px;
margin-left: 15px;
margin-bottom: 0;
}

.nueva-app h3{
padding-bottom: 10px;
}

.conviertete-conductor{
  background-image:url("../assets/images/conduce.jpg");
  height: 450px;
  background-repeat: no-repeat;
  background-size:cover;
  background-position:50% 100%;
  color:white;
  }

.conviertete-conductor .container{
  transform: translateY(50%);
  padding-left: 30px;
  box-sizing: border-box;
}

.container-opacy {
  background-color: rgba(0, 0, 0, 0.5);
  height: 100%
}

.conviertete-conductor .btn {
  background-color: #f7b617;
  color: white;
}

.conviertete-conductor h4 {
  line-height: 1.5;
}

.tarifas{
  background-color: #f7b617;
  padding: 15px;
}

.tarifas h3 {
  color: white;
  margin-top: 0;
  padding-top: 60px;
}

.tarifas h4 {
  margin-bottom: 45px;
}

.tarifas .btn {
  border-radius:3px;
  font-size: 15px;
  font-weight: bold;
  transform: translateX(120%);
}

.tarifas .container img {
  border: 1px solid white;
  padding: 10px;
  margin-top: 80px;
  margin-bottom: 60px;
}
.form-control {
  background-color: #f7b617;
  border:1px solid white;
  width: 80%;
  display: inline-block;
}
.form-group img {
  display: inline-block;
}



@media (max-width: 768px) {
  .navbar-brand {
    display: block;
    transform: translateX(70%);
  }

}

@media (min-width: 768px) {

  .logo-blanco-small{
    width: 60px;
    height: 15px;
    margin-left: 8px;
  }
  .jumbotron {
    padding-top: 10px;
    padding-bottom: 10px;
    transform: translateY(50%);
  }

  .nueva-app {
  padding-bottom: 10px;
  padding-top: 10px;
  }

.nueva-app .row {
  width:75%;
  margin-left: 0;
  border-left:none;
}

.nueva-app p {
line-height: 1.7;
font-size: 17px;
padding-bottom: 20px;
}

.container-opacy {
  background-color: rgba(0, 0, 0, 0);
}

.container-opacy .container .row .leter{
  background-color: rgba(0, 0, 0, 0.5);
  float: right;
  margin-top: 0;
  margin-right: 0;
}

.container-opacy .container {
  transform: translateY(0);
  margin-right: 0;
}

.tarifas .btn {
  border-radius:3px;
  font-size: 15px;
  font-weight: bold;
  transform: translateX(80%);
}

.tarifas .container img {
  margin-top: 20px;
  margin-bottom: 20px;
}

.tarifas form {
  margin-left: 40px;
}
