/*Estilos del proyecto */
body *{
  font-family: 'Raleway', sans-serif;
}

.navbar {
  background-color: white;
  border:none;
}

.comienza-viajar {
  background-image: url("../assets/images/taxi.jpg");
  background-position:50% 100%;
  background-repeat: no-repeat;
  background-size:cover;
  height: 600px;
}

.jumbotron {
  background-color: #f7b617;
  color: white;
  padding-left: 4%;
  transform: translateY(80%);
}

.logo-blanco-small{
  height: 20px;
  width: 80px;
}

.btn {
  border: none;
  margin-top: 20px;
}

h1,h2 {
  line-height: 0.5;
}

h4 {
  color:white;
  padding-top:15px;
}

h5:after,h5:before {
  content: "__________________";
  color:white;
}

.nueva-app {
  background-color: #f7b617;
  color:white;
  padding-top: 30px;
}

.nueva-app .row {
  border:1px solid white;
  margin: 15px;
  padding-bottom: 40px;
  padding-top: 50px;
}

.nueva-app h4{
  margin-bottom: 0;
  margin-left: 15px;
  padding-bottom: 10px;
  padding-top: 25px;
}

.nueva-app h3{
  padding-bottom: 10px;
}

.conviertete-conductor{
  background-image:url("../assets/images/conduce.jpg");
  background-position:50% 100%;
  background-repeat: no-repeat;
  background-size:cover;
  color:white;
  height: 450px;
  }

.conviertete-conductor .container{
  box-sizing: border-box;
  padding-left: 30px;
  transform: translateY(50%);
}

.container-opacy {
  background-color: rgba(0, 0, 0, 0.5);
  height: 100%
}

.conviertete-conductor .btn {
  background-color: #f7b617;
  color: white;
}

.conviertete-conductor h4 {
  line-height: 1.5;
}

.tarifas{
  background-color: #f7b617;
  padding: 15px;
}

.tarifas h3 {
  color: white;
  margin-top: 0;
  padding-top: 60px;
}

.tarifas h4 {
  margin-bottom: 45px;
}

.tarifas .btn {
  border-radius:3px;
  font-size: 15px;
  font-weight: bold;
  transform: translateX(120%);
}

.tarifas .container iframe {
  border: 1px solid white;
  margin-bottom: 60px;
  margin-top: 80px;
  padding: 10px;
}
.form-control {
  background-color: #f7b617;
  border:1px solid white;
  display: inline-block;
  width: 80%;
}
.form-group img {
  display: inline-block;
}

.form-inline {
  margin-left: 7%;
}

.form-inline .form-group input {
  width: 220px;
}

footer {
  background-color: #2b2b2b;
  padding: 15px;
}

 footer i {
   color:white;
 }

.iconos i{
  padding-right: 10px;
}

.google img {
  margin-top: 30px;
}

.modal-content .form-control {
  margin-left: 10%;
}

#exampleModal1 h5 {
  color:black;
}

#exampleModal2 h4 {
  font-weight: bold;
  margin-left: 60px;
  padding-left: 0;
  color: black;
}

#exampleModal2 h6 {
  margin-left: 60px;
}
/*Estilos responsive */

@media (max-width: 768px) {

  .navbar-brand {
    display: block;
    transform: translateX(70%);
  }
}

@media (min-width: 768px) {

  body {
    font-family: 'Raleway', sans-serif;
  }

  .navbar-collapse {
    width: 80%;
  }
  .logo-blanco-small{
    height: 15px;
    margin-left: 8px;
    width: 60px;
  }
  .jumbotron {
    padding-bottom: 10px;
    padding-top: 10px;
    transform: translateY(50%);
  }

  .nueva-app {
  padding-bottom: 10px;
  padding-top: 10px;
  }

.nueva-app .row {
  border-left:none;
  margin-left: 0;
  width:75%;
}

.nueva-app p {
  font-size: 17px;
  line-height: 1.7;
  padding-bottom: 20px;
}

.container-opacy {
  background-color: rgba(0, 0, 0, 0);
}

.container-opacy .container .row .leter{
  background-color: rgba(0, 0, 0, 0.5);
  float: right;
  margin-right: 0;
  margin-top: 0;
}

.container-opacy .container {
  margin-right: 0;
  transform: translateY(0);
}

.tarifas .btn {
  border-radius:3px;
  font-size: 15px;
  font-weight: bold;
  transform: translateX(80%);
}

.tarifas .container iframe {
  margin-bottom: 20px;
  margin-top: 20px;
}

.tarifas form {
  margin-left: 40px;
}

.google{
  transform: translateY(100%);
}

.iconos{
  transform: translateY(1750%);
}
}
